body{
	font-family:sans serif;
}

.task-one{
	height: 400px;
	background-color: white;
	display: flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-between;
	/* align-items:center; */
}

.wrapper div{
	height:150px;
	width:150px;
	background-color: yellow;
	margin: 10px;
	color:white;
}


div.one, div.nine{
	background-color: green;
}


 .nine{
 	flex-grow:1;
 }