
.task-one {
  display: flex;
  height: 1000px;
  background: coral;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.wrapper div {
  height: 200px;
  width: 400px;
  margin: 10px;
  color: black;
  background: yellow;
  flex-basis: auto;
}

#two {
  height: 400px;;
  align-self: auto;
}

