
.task-one {
  display: flex;
  height: 350px;
  background: coral;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.wrapper div {
  height: 150px;
  width: 150px;
  margin: 10px;
  color: black;
  background: yellow;
}

#one {
  background: green;
}

#nine {
  background: green;
  flex-grow: 1;
}

.eight {
  flex-basis: 200;
  flex-grow: 1;
}