body {
  font-family: sans-serif;
}


h1{
	text-align: center;
}
	
h2{
	text-align: center;
	
}

.container-flex-1{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 600px;
	margin: 100px 0;
}
.container-flex-1 div{
	width: 200px;
	height: 200px;
	background: #fff90a;
	margin: 10px;
	color: #fff;
	font-size: 40px;
}
.container-flex-1 .item-1{
	align-self: flex-end;
}

.container-flex-1 .item-3{
	align-self: flex-start;
}


.container-flex-1 .item-5{
	align-self: flex-end;
}


.container-flex-2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	flex-flow: row wrap;
	margin: 100px 0;
}

.container-flex-2 div{
	width: 150px;
	height: 200px;
	background: #fff90a;
	margin: 10px;
	color: #000;
	font-size: 40px;
	order: 1;
	flex-grow: 1;
}
.container-flex-2 .item-8{
	width: 200px;
	flex-grow: 2;
}

.container-flex-2 .item-9{
	order: 3;
	flex-grow: 12;
}


.container-flex-3{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 800px;
	flex-flow: row wrap;
	margin: 100px 0;
	align-items: flex-start;
}

.container-flex-3 div{
	width: 400px;
	height: 200px;
	background: #061d9d;
	margin: 10px;
	color: #fff;
	font-size: 40px;
	order: 1;
	flex-grow: 1;
	
}

.container-flex-3 .item-2{
	height: 500px;
}
.container-flex-3 .item1{
	flex-grow: 6;	
}
.container-flex-3 .item2{
	flex-grow: 4;
}