body {
  font-family: sans-serif;
}

.task-one {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  background: #36c1d0;
  justify-content: space-between;
  align-items: space-between;
}

.wrapper div {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 10px;
  color: white;
}


.one {
  align-self: flex-start;
  flex: 0 1 30%;
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 10px;
  color: white;
  border: 2px solid #366bd0;
}

.two {
  align-self: flex-start;
  flex: 0 1 30%;
  height: 70%;
  width: 100px;
  background-color: blue;
  margin: 10px;
  color: white;
  border: 2px solid #366bd0;
}

.three {
  align-self: flex-start;
  flex: 0 1 30%;
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 10px;
  color: white;
  border: 2px solid #366bd0;
}

.four {
  align-self: flex-end;
  flex: 0 1 30%;
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 10px;
  color: white;
  border: 2px solid #366bd0;
}

  .five {
    align-self: flex-end;
    flex: 0 1 30%;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
    color: white;
    border: 2px solid #366bd0;
    }

    .six {
      align-self: flex-end;
      flex: 0 1 30%;
      height: 100px;
      width: 100px;
      background-color: blue;
      margin: 10px;
      color: white;
      border: 2px solid #366bd0;
      }
