.box {
    display: flex;
    height: 500px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.wrapper div {
    height: 200px;
    width: 200px;
    margin: 10px;
    color: black;
    background: yellow;
}


.box-2, .box-4 {
    align-self: center;
}

.box-1, .box-5 {
    align-self: flex-end;
}

.box-3 {
    align-self: flex-start;
}